Package: net.cadoth.nosbreload
Name: NoSBReload
Version: 0.1.1-1
Architecture: iphoneos-arm
Description: Replace sbreload with traditional respring to fix autofill issues
Depiction: https://repo.alexia.lol/depictions/net.cadoth.nosbreload
SileoDepiction: https://repo.alexia.lol/sileo-depictions/net.cadoth.nosbreload
Maintainer: alexia <me@alexia.lol>
Author: alexia <me@alexia.lol>
Section: System
