Package: net.cadoth.nosbreload
Name: NoSBReload
Version: 0.1.1-1
Architecture: iphoneos-arm
Description: Replace sbreload with traditional respring to fix autofill issues
Depiction: https://repo.cadoth.net/depictions/net.cadoth.nosbreload.html
SileoDepiction: https://repo.cadoth.net/sileo-depictions/net.cadoth.nosbreload.json
Maintainer: nyuszika7h <nyuszika7h@gmail.com>
Author: nyuszika7h <nyuszika7h@gmail.com>
Section: System
